<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <connectionStrings>
    <add name="PackGameEntities" connectionString="metadata=res://*/DataContext.PackGameBD.csdl|res://*/DataContext.PackGameBD.ssdl|res://*/DataContext.PackGameBD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC\SQLEXPRESS01;initial catalog=PackGame;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>