@model PackGameData.DataContext.Jogo

@{
    ViewBag.Title = "Upload Game";
}

<h2>Upload Game</h2>

@using (Html.BeginForm(null,null, FormMethod.Post, new {enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Upload</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
  
    <div class="form-group">
     
        <div class="col-md-10">
            <input type="file" name="Arquivo" id="Arquivo" />
           
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
    <div>
      
    </div>


</div>
}

<div>
    @ViewBag.Message
    @Html.ActionLink("Back to List", "Index")
</div>
